/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900'); */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

*,
::after,
::before {
    box-sizing: border-box
}

html, body {
    font-family: 'Poppins-Regular' !important;
    margin: 0;
    font-size: 100%;
}
/* body{
    font-family: 'Poppins-Regular';
} */

.bg-nav{
    background-color: #FFFFFF !important;
}

.icon-black{
    color: #000000 !important;
    font-size: 20px;
    border: 0;
    background-color: #FFFFFF;
}

.container {
    max-width: 1400px !important;
    /* width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px; */
}
/* 
.container2 {
    max-width: 1400px;
    border-radius: 40px;
} */

.jumbotron {
    background-image: url('../img/home_image1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    /* width: 1300px; */
    border-radius: 40px !important;
}

.background{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    /* background-color: #F6F7F9; */
    background-color: #110f12;
    background-size: cover;
    background-position: center;
    height: 470px;
}

.background2{
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #110f12;
    height: 100vh;
}

.landingpage h1{
    font-size: 50px;
}

.form-text{
    font-size: 13px;
}

.mid-form-text{
    font-size: 15px;
}

.bot-form-text{
    font-size: 15px;
}

.regis-text{
    font-size: 30px;
}

.text-product{
    font-size: 13px;
    font-weight: 700;
}

.box-cat{
    background-color: #E9ECED;
    border-radius: 15px;
    /* width: 130px;
    height: 130px; */
}

.btn-add-qty{
    color: #000000;
}

.btn-add-cart{
    background-color: #F5AD13 !important;
    color: #fff !important;
    border-radius: 50px !important;
}

.icon-copy{
    font-size: 20px !important;
}

.add-quantity{
    border: none;
    background-color: white;
    font-size: 24px;
}

.gray-box-total{
    background-color: #F6F7F9;
    border-radius: 10px;
}

.table-cart .table td{
    vertical-align: middle;
}

.btn-remove{
    border: none;
    background-color: white;
    color: #000000;
    font-size: 42px;
}

.box-icon{
    font-size: 25px;
}

.product-desc{
    font-size: 10px;
    color: #737373;
}

.parfume-desc img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.img-cart tr td img{
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.hform{
    margin-top: -100px;
}

.curved-25{
    border-radius: 25px !important;
}

.curved-10{
    border-radius: 10px !important;
}

.curved-15{
    border-radius: 15px !important;
}

.curved-20{
    border-radius: 20px !important;
}

.badge-yellow{
    background-color: #FEEDC2;
    color: #F7BB39;
    width: 80px;
    height: 30px;
}

.btn-pill {
    border-radius: 50px !important;
}

.icon-color{
    color: black;
}

.gray{
    background-color: #F6F7F9;
    border: 0;
    border-radius: 10px;
}

.nav-btn-size{
    height: 35px;
    width: 35px;
    border: none;
}

.nav-btn-size:hover{
    background-color: #d1d0d0;
}

.btn-shopnow{
    background-color: #F5AD13 !important;
    border-radius: 50px !important;
    color: white !important;
    width: 140px;
    height: 45px;
}

.btn-shopnow:hover{
    background-color: #F7BB39 !important;
}

.btn-register{
    background-color: #F7BB39;
}

.btn-register:hover{
    background-color: #F5AD13;
}

.bg-yellow{
    background-color: #F7BB39;
}

.btn-yellow-light{
    background-color: #FEEDC2;
}
.btn-yellow-light:hover{
    background-color: #F7D379;
}

.card-body{
    width: auto;
    height: auto;
}

.img-slide{
    height: 600px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html,body {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    /* background: #eff6fa; */
    overflow-y: auto;
    overflow-x: hidden;
    /* background: #110f12; */
    color: #000000
}

/* div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
} */

.bbb_viewed {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #eff6fa
}

.bbb_main_container {
    background-color: #fff;
    padding: 11px
}

.bbb_viewed_title_container {
    border-bottom: solid 1px #dadada
}

.bbb_viewed_title {
    margin-bottom: 16px;
    margin-top: 8px
}

.bbb_viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}

.bbb_viewed_prev {
    margin-right: 15px
}

.bbb_viewed_slider_container {
    padding-top: 13px
}

.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 150px;
    height: 150px
}

.bbb_viewed_image img {
    display: block;
    max-width: 100%
}

.bbb_viewed_content {
    width: 100%;
    margin-top: 25px
}

.bbb_viewed_price {
    font-size: 16px;
    color: #000000;
    font-weight: 500
}

.bbb_viewed_item.discount .bbb_viewed_price {
    color: #df3b3b
}

.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}


.product-regist .card{
    /* margin: 0 1rem; */
    position: relative;
    cursor: pointer;
    transition: 200ms ease-in-out transform;
}
.product-regist .card:hover{
    transform: scale(1.02);
}
.product-regist .card:active{
    transform: scale(.97);
}
/* .product-regist .img{
    width: 100%;
    height: 270px;
    overflow: hidden;
} */
.product-regist .img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    user-select: none;
}
.product-regist input[id="option1"]:checked ~ label[for="option1"] .card,
.product-regist input[id="option2"]:checked ~ label[for="option2"] .card,
.product-regist input[id="card_three"]:checked ~ label[for="card_three"] .card {
    border: 2px solid #f7bb39;
}
.product-regist input{
    display: none;
}
.product-regist .card .card-body .ceklis{
    visibility: hidden;
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.product-regist .card .card-body .ceklis::before{
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    visibility: visible;
    color: transparent;
    /* -moz-appearance:initial */
}
.product-regist .card .card-body .ceklis:checked::before{
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    background-color: #f7bb39;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    -moz-appearance:initial
}
.product-regist .card .card-body label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
 }

.text-small{
    font-size: small;
}
.text-very-small{
    font-size: 10px;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
}

.text-small {
    font-size: small;
}

.profile-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* .bx{
    font-size: 20px !important;
} */

.table-list .table th,
.table-class .table th{
    font-size: 14px;
    color: #3a3a40;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-list .table td,
.table-class .table td {
    font-size: 16px;
    color: #3a3a40;
    text-align: center;
    vertical-align: middle;
}

.table-list .table .btn,
.table-class .table .btn {
    padding: 0px 8px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {

    .jumbotron {
        background-image: url('../img/home_image1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 500px;
        /* width: 1300px; */
        border-radius: 40px !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) !important; */
        background: none;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
        position: absolute;
        top: 5%;
        /* left: -22px; */
       
    }
    .owl-carousel .owl-nav button.owl-prev span{
        font-size: 3rem !important;
    }
    
    .owl-carousel .owl-nav button.owl-next{
        background: none;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
        position: absolute;
        right: 0px;
        top: 5%;
       
    }
    
    .owl-carousel .owl-nav button.owl-next span{
        font-size: 3rem !important;
        
    }

    .text-transaction{
        font-size: 15px;
    }
}

/* .btn-edit-profile {
    position: absolute;
    top: 20px;
    right: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 11px;
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #000000d1;
    color: #FFF;
    border: none;
    box-shadow: 0 0 8px 3px #B8B8B8;

} */

.icon-modal{
    color: #000;
}

.icon-modal:hover{
    color: #565657;
}

/* .bx {
    font-size: 24px;
} */

.btn-edit {
    color: #18191a;
}

.btn-edit:hover {
    color: #949494;
}

.text-product-detail{
    font-size: 40px;
}

.border-0 {
    border: 0 !important;
}

.text-product-price{
    font-size: 30px;
    color: orangered;
}

.text-product-desc{
    font-size: 18px;
    color: rgb(117, 117, 117);
}










/* Style CSS ini Jangan dihapus */
/* .regist-product .img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.regist-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.regist-product .card{
    background-color: rgb(255, 244, 179);
    margin: 0 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
    border: .5rem solid transparent;
    transition: 200ms ease-in-out transform;
}
.regist-product .check-btn{
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: rgba(92, 92, 92, .4);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}
.regist-product .fa-check{
    color: #fff;
}
.regist-product .title{
    margin: 1.5rem 0;
}
.regist-product .card:hover{
    transform: scale(1.02);
}
.regist-product .card:active{
    transform: scale(.97);
}
.regist-product input[id="card_one"]:checked ~ label[for="card_one"] .card,
.regist-product input[id="card_two"]:checked ~ label[for="card_two"] .card,
.regist-product input[id="card_three"]:checked ~ label[for="card_three"] .card {
    border-color: rgb(21, 238, 21);
}
.regist-product input{
    display: none;
} */