@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular';
}

.bg-gray {
    background-color: rgba(238, 236, 236, 0.87);
    border: none;
}

.btn-edit {
    color: #18191a;
}

.btn-edit:hover {
    color: #949494;
}

:root {
    /* ===== Colors ===== */
    /* --body-color: #E4E9F7; */
    --body-color: #D8DCE5;
    --sidebar-color: #FFF;
    --primary-color: #3D4AA0;
    --primary-color-light: #F6F7F9;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.icon-red {
    color: red !important;
    font-size: 20px;
}

.icon-green {
    color: rgb(63, 224, 63) !important;
    font-size: 20px;
}

.icon-blue {
    color: rgb(70, 204, 228) !important;
    font-size: 20px;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.bx {
    font-size: 24px;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
    opacity: unset !important;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 13px;
    /* font-weight: 500; */
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 13px;
    /* font-weight: 500; */
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
    padding: 1.3rem 0;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .active .text,
.sidebar .active .icon {
    color: #fff;
}

.sidebar .active {
    background-color: var(--primary-color);
    padding: 1.3rem 0;
    border-radius: 6px;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 85px;
    height: 100vh;
    width: calc(100% - 85px);
}

body.dark .home .text {
    color: var(--text-color);
}

/* Datatable  */

div.dataTables_wrapper div.dataTables_length label {
    font-size: 13px;
}

.custom-select-sm {
    font-size: 13px;
}

.custom-select:focus {
    box-shadow: none !important;
    border: 2px solid var(--primary-color) !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    background-color: #ECEEF5;
    border: 0;
    border-radius: 8px;
    height: calc(1.7em + 0.5rem + 2px);
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
    background-color: #eceef5;
    border: 0;
    border-radius: 8px;
    height: calc(1.7em + 0.5rem + 2px);
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 13px;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 13px;
}

div.dataTables_wrapper div.dataTables_paginate {
    font-size: 13px;
}

div.dataTables_filter .form-control:focus {
    box-shadow: none !important;
    border: 2px solid var(--primary-color) !important;
}

.table-user .table th,
.table-class .table th {
    font-size: 13px;
    color: #3a3a40;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table-user .table td,
.table-class .table td {
    font-size: 13px;
    color: #3a3a40;
    text-align: center;
    vertical-align: middle;
}

.table-user .table .btn,
.table-class .table .btn {
    padding: 0px 8px;
    margin-bottom: 5px;
}


.curved-8 {
    border-radius: 8px 8px 8px 8px !important;
}

.curved-10 {
    border-radius: 10px 10px 10px 10px !important;
}

.curved-20{
    border-radius: 20px 20px 20px 20px !important;
}

.text-small {
    font-size: small;
}

.profile-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-edit-profile {
    position: absolute;
    top: 20px;
    right: 10px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* padding: 11px; */
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #000000d1;
    color: #FFF;
    border: none;
    /* box-shadow: 0 0 8px 3px #B8B8B8; */

}

.icon-modal{
    color: #000;
}

.icon-modal:hover{
    color: #565657;
}
